aux
data
old

aux/old
aux/old/norm_clean_text.py~v02
aux/exp.py
build
data/old
data/U
data/UnicodeData.txt
data/log-diff*
dist
profile
scripts
test/data/kat*
test/data/kaz*
test/data/3S*
test/data/OPUS*
test/data/scripts
test/data/Bible*
test/data/*tar
test/data/*wb
test/__pycache__
wildebeest/old
wildebeest/tmp*
wildebeest/normalize-v0*
wildebeest/wb_analysis3*py
wildebeest/__pycache__
wildebeest.egg-info
wildebeest_nlp.egg-info
__pycache__

feedback.txt
notes.txt
to-do
